<div
  class="bg-img1 size1 overlay1 p-b-35 p-l-15 p-r-15"
  style="background-image: url('images/bg01.jpg');"
>
  <div class="flex-col-c p-t-160 p-b-215 respon1">
    <div class="wrappic1">
      <a href="#">
        <img src="images/icons/logo.png" alt="IMG" />
      </a>
    </div>

    <h3 class="l1-txt1 txt-center p-t-30 p-b-100">
      Coming Soon
    </h3>

    <app-flipclock></app-flipclock>
  </div>

  <!--  -->
  <div class="flex-w flex-c-m p-b-35">
    <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
      <i class="fa fa-facebook"></i>
    </a>

    <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
      <i class="fa fa-twitter"></i>
    </a>

    <a href="#" class="size3 flex-c-m how-social trans-04 m-r-3 m-l-3 m-b-5">
      <i class="fa fa-youtube-play"></i>
    </a>
  </div>
</div>
