<div id="countdown-page">
  <div id="countdown-content">
    <div>
      <h1 class="text-center" style="font-family: 'Product Sans', 'Roboto', sans-serif;">
        Coming Soon
      </h1>

      <app-flipclock></app-flipclock>
    </div>

    <!-- should this links be in the navbar? -->
    <div>
      <a href="#">
        <i class="fa fa-discord"></i>
      </a>

      <a href="#">
        <i class="fa fa-facebook"></i>
      </a>

      <a href="#">
        <i class="fa fa-twitter"></i>
      </a>

      <a href="#">
        <i class="fa fa-youtube-play"></i>
      </a>
    </div>
  </div>
</div>
